@page "/Elemento/edit/{Id:guid}"

<h3>Editar </h3>

@if (mElemento is null)
{
    <Loading/>
}
else
{
    <FormWithName @ref="ElementoForm" Label="Elemento" Model="mElemento" OnValidSudmit="SaveAsync" ReturnAction="Return" />
}