@page "/Elemento/details/{Id:guid}"

@if (ClsMElemento is null)
{
    <Loading />
}
else
{
    <h3>@ClsMElemento.Nombre</h3>
    <div class="mb-2">
        @* <a class="btn btn-primary" href="/UnidadMedida/create/@UnidadMedida.IdUnidadMedida">Nueva Unidad de Medida</a> *@
        <a class="btn btn-success" href="/TipoMedicion">Regresar</a>
    </div>

    <h4>Mediciones</h4>

    @if (ClsMElemento.CantidadElementos == null || !ClsMElemento.CantidadElementos.Any())
    {
        <p>No hay mediciones registradas.</p>
    }
    else
    {
        <GenericList MyList="ClsMElemento.CantidadElementos.ToList()">
            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mediciones</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cantidadElemento in ClsMElemento.CantidadElementos)
                        {
                            <tr>
                                <td>
                                    @ClsMElemento.Nombre
                                </td>
                                <td>
                                    @cantidadElemento.Cantidad
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="/CantidadElemento/edit/@cantidadElemento.IdCatidadElemento}">Editar</a>
                                    @* <a class="btn btn-info btn-sm" href="/CantidadElemento/detai/@Mediciones.IdUnidadMedida">Detalles</a>  *@
                                    @* <button class="btn btn-danger btn-sm" @onclick="() => DeleteAsync(cantidadElemento)">Borrar</button> *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    }
}