@page "/tipocultivo/edit/{Id:guid}"

<h3>Editar un Tipo de cultivo</h3>

@if (TipoCultivo is null)
{
    <Loading />
}
else
{
    <TipoCultivoForm @ref="TipoCultivoForm" TipoCultivo="TipoCultivo" OnValidSudmit="EditAsync" ReturnAction="Return" />
}
