@typeparam TModel where TModel : IEntityWithName

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSudmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@label:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Model.Nombre" />
            <ValidationMessage For="@(() => Model.Nombre)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>
