@page "/TipoMedicion/create"

<h3>Registrar Tipo de Medicion </h3>

<FormWithName @ref="TipoMedicionForm" Label="Tipo de Medicion:" Model="tipoMedicion" OnValidSudmit="CreateAsync" ReturnAction="Return" />
