@page "/UnidadMedida/create/{TipoMedidaId:guid}"

<h3>Registrar Tipo de Medicion </h3>

<FormWithName @ref="UnidadMedidaForm" Label="Tipo de Medicion:" Model="unidadMedida" OnValidSudmit="CreateAsync" ReturnAction="Return" />
