@page "/UnidadMedida/edit/{Id:guid}"

<h3>Editar nombre de la unidad de medida</h3>

@if (unidadMedida is null)
{
    <Loading/>
}
else
{
    <FormWithName @ref="UnidadMedidaForm" Label="Unidad de Medida:" Model="unidadMedida" OnValidSudmit="EditAsync" ReturnAction="Return" />
}
