@page "/TipoDispositivo/edit/{Id:guid}"

<h3>Edicion</h3>

@if (TipoDispositivo is null)
{
    <Loading/>
}
else
{
    <FormWithName @ref="TipoDispositivoForm" Label="Tipo de Dispositivo" Model="TipoDispositivo" OnValidSudmit="EditAsync" ReturnAction="Return" />
}