@page "/Evento/details/{Id:guid}"

@if (Impacto is null)
{
    <Loading />
}
else
{
    <h3>@Impacto.Nombre</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/Dispositivo/create/@Impacto.IdImpacto">Nuevo</a>
        <a class="btn btn-success" href="/TipoDispositivo">Regresar</a>
    </div>

    <h4>Lista de @Impacto.Nombre</h4>
    <GenericList MyList="Impacto.tipoEventos!.ToList()">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo de eventos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Impacto.tipoEventos!)
                    {
                        <tr>
                            <td>
                                @evento.Nombre
                            </td>                            
                            <td>
                                <a class="btn btn-warning btn-sm" href="/Dispositivo/edit/@evento.IdTipoEvento">Editar</a>
                                <a class="btn btn-info btn-sm" href="/Dispositivo/details/@evento.IdTipoEvento">Detalles</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(evento))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}